agrold_oldversion/web/agrold-api.wadl

<?xml version="1.0" encoding="UTF-8"?> 
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
       xsi:schemaLocation="http://research.sun.com/wadl/2006/10 https://wadl.dev.java.net/wadl20061109.xsd" 
       xmlns="http://research.sun.com/wadl/2006/10"> 
   <grammars/> 
   <resources base="http://localhost:8080/agrold/api/"> 
       <resource path="res">  
           <resource path="predicates.xml">
               <method href="#getPredicates" />
           </resource>
           <resource path="predicates.json">
               <method href="#getPredicates" />
           </resource>    
          <method id="getPredicates" name="GET">
             <request/>
             <response>
                <representation mediaType="application/xml"/>
                <representation mediaType="application/json"/>
             </response>
          </method>          
       </resource> 
   </resources> 
</application> 
